@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

:root {
    --main-bg-color: hsl(47, 88%, 63%);
    --container-bg-color: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-900:  hsl(0, 0%, 7%);
    font-size: 16px;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Figtree", sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.blog-container {
    background-color: var(--container-bg-color);
    max-width: 350px;
    padding: 1.2em;
    border: 1.5px solid var(--gray-500);
    border-radius: 1em;
    box-shadow: 10px 10px var(--gray-900);
}

.blog-container > * + * {
    margin-block-start: 1.2em;
}

.blog-header > * + * {
    margin-block-start: 1.2em;
}

.blog-header .blog-tag {
    background-color: var(--main-bg-color);
    width: fit-content;
    color: var(--gray-900);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: 800;
    font-size: 0.8em;
}

.blog-header .published-date {
    font-weight: 500;
    font-size: 0.8em;
    color: var(--gray-900);
}

.body > * + * {
    margin-block-start: 1em;
}

.body > h1 {
    font-weight: 800;
    color: var(--gray-900);
    font-size: 1.4em;
}

.body p {
    font-weight: 500;
    color: var(--gray-500);
    font-size: 0.95em;
    line-height: 1.4;
}

.blog-image img {
    width: 100%;
    border-radius: 1em;
}

.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-block-end: 0.5em;
}

.bio .avatar {
    display: block;
    width: 2em;
    height: 2em;
}

.bio .author-name {
    font-weight: 800;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
