@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

:root {
    --main-bg-color: hsl(47, 88%, 63%);
    --container-bg-color: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-900:  hsl(0, 0%, 7%);
    font-size: 16px;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Figtree", sans-serif;
}

.container {
    background-color: var(--container-bg-color);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
